<%= form_for(@product) do |f| %>

	<% if @product.errors.any? %>
    <div class="error">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
		<%= f.label :title %><br>
		<%= f.text_field :title %><br>
	</div>
	<div class="field"><br>
		<%= f.label :description %><br>
		<%= f.text_area :description, rows: 6 %><br>
	</div>
	<div class="field"><br>
		<%= f.label :image_url %><br>
		<%= f.text_field :image_url %><br>
	</div>
	<div class="field"><br>
		<%= f.label :price %><br>
		<%= f.text_field :price %>
	</div>
	<div class="checkbox"><br>
		<% @categories.each do |category| %>
			<%= check_box_tag category %>
			<%= label_tag category.titleize %>&nbsp;&nbsp;
		<% end %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>