<h1 class="centered_item">Listing Products</h1>

<div class="redirect_button">
  <%= link_to 'New', new_product_path %>
</div>

<table>
  <% @products.each do |product| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td>
        <%= image_tag(product.image_url, class: 'list_image') %>
      </td>
      <td class="list_description">
        <dl>
          <dt><strong><%= product.title.titleize %></strong></dt>
          <dt><%= number_to_currency(product.price) %></dt>
        </dl>
      </td>
      <td class="list_actions"><br>
        <%= link_to 'Details', product %><br/>
      </td>
    </tr>
  <% end %>
</table>