<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1 class="centered_item">Listing Products</h1>
<h3 class="centered_item">Showing only: <%= @category.title.titleize %></h3>

<table>
  <% @category.products.each do |product| %>
    <div id="product_box">
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td>
          <%= link_to image_tag(product.image_url, class: 'list_image'), product %>
        </td>
        <td class="list_description">
          <dl>
           <dt><strong><span class='list_actions'><%= link_to product.title.titleize, product %></span></strong></dt><br>
            <dt><%= number_to_currency(product.price) %></dt><br/><br/>
          </dl>
        </td>
      </tr>
    </div>
  <% end %>
</table>
<br>