<div id="show">
	<p>
	  <strong>Title:</strong>
	  <%= @product.title.titleize %>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= @product.description %>
	</p>

	<p>
	  <%= image_tag(@product.image_url, class: 'list_image') %>
	</p>

	<p>
	  <strong>Price:</strong>
	  <%= number_to_currency(@product.price) %>
	</p>

	<div class="redirect_button">
	  <%= link_to 'Back', store_path %>
	</div>
</div>