<%= form_for(@sector) do |f| %>

	<% if @sector.errors.any? %>
    <div class="error">
      <h2><%= pluralize(@sector.errors.count, "error") %> prohibited this sector from being saved:</h2>

      <ul>
      <% @sector.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</div>
  <div class="checkbox"><br>
    <%= f.collection_check_boxes :operators_id, Operator.all, :id, :name %>
  </div>
	<div class="actions">
		<%= f.submit %>
	</div>
  
<% end %>