<%= form_for(@sector) do |f| %>

	<% if @sector.errors.any? %>
    <div class="error">
      <h2><%= pluralize(@sector.errors.count, "error") %> prohibited this sector from being saved:</h2>

      <ul>
      <% @sector.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</div>
  <div class="checkbox"><br>
    <% @operators.each do |operator| %>
      <%= check_box_tag operator %>
      <%= label_tag operator.titleize %>&nbsp;&nbsp;
    <% end %>
  </div>
	<div class="actions">
		<%= f.submit %>
	</div>

<% end %>