<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1 class="centered_item">Listing Sectors</h1>

<div class="list_actions centered_item">
  <h2><%= link_to '| New Sector |', new_sector_path %></h2>
</div>

<table class="item_list">
  <tr>
    <th class="js-sortable">ID</th>
    <th class="js-sortable">Name</th>
    <th>Operators</th>
  </tr>
  <tbody>
  <% @sectors.each do |sector| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td><%= sector.id %></td>
      <td><%= sector.title.titleize %></td>
      <td><%= truncate(sector.operators.map { |o| o.name.titleize }.join(', '), length: 100) %></td>
      <td class="list_actions">
        <%= link_to 'Show', sector %> |
        <%= link_to 'Edit', edit_sector_path(sector) %> |
        <%= link_to 'Delete', sector, method: :delete,
                data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>