<%= form_for(@category) do |f| %>

	<% if @category.errors.any? %>
    <div class="error">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
		<%= f.label :title %><br>
		<%= f.text_field :title %><br>
	</div>
  <div class="checkbox"><br>
    <% @products.each do |product| %>
      <%= check_box_tag product %>
      <%= label_tag product.titleize %>&nbsp;&nbsp;
    <% end %>
  </div>
	<div class="actions"><br>
		<%= f.submit %>
	</div>

<% end %>